// Colores
$color-white: #FFFFFF;
$color-snow: #FAFAFA;
$color-quicksilver: #A0A0A0;
$color-jellybean: #E56353;
$color-salmon: #E97F72;
$color-pastelpink: #F0A9A1;
$color-granitegray: #686963;
$color-taupegray: #91918D;
$color-gray: #BABAB8;

// Tamaños de fuente
$font-size-xxlarge: 100px;
$font-size-xlarge: 70px;
$font-size-large: 50px;
$font-size-medium: 18px;

//  Estilos de fuentes
$font-raleway: 'Raleway', 'Verdana';
$font-typefaces: 'Typefaces', 'Verdana'; // No encontre la fuente "Typefaces" en Google Fonts

// Grosores de fuentes
$font-extralight: 200;
$font-regular: 400;
$font-bold: 700;
